    
<header>
   <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script> 
</header>

<body>
    <h1>Compare both environments</h1>
    <h3>select an action and both responses will be given</h3>
    <form hx-get="/commands?command=locks" hx-target="#response">
        <p>Get locks and doors status</p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Get locks and doors status</button>
    </form>
    

    
    <p>lock the car and unlock it</p>
    <div id="response"></div>
</body>