    
<header>
   <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script> 
</header>

<body>
    <h1>Compare both environments</h1>
    <h3>select an action and both responses will be given</h3>
    <form hx-get="/commands?command=locks" hx-target="#response">
        <p>Get locks and doors status</p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Get locks and doors status</button>
    </form>
    

  
    <form hx-get="/commands?command=lock" hx-target="#response">
        <p>lock the car</p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Lock the car</button>
    </form>
      
    <form hx-get="/commands?command=unlock" hx-target="#response">
        <p>unlock the car</p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Unlock the car</button>
    </form>

    <form hx-get="/commands?command=engine" hx-target="#response">
        <p>get stats of engine </p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Get engine status</button>
    </form>


    <form hx-get="/commands?command=engineStart" hx-target="#response">
        <p>Start the engine </p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Start the engine</button>
    </form>

    <form hx-get="/commands?command=engineStop" hx-target="#response">
        <p>Stop the engine </p>
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" name="api_key_v" hidden="True" value="{{ api_key_v }}" />
        <input type="text" name="access_token" hidden="True" value="{{ access_token }}" />
        <button >Stop the engine</button>
    </form>

    <p>This are not all requests available </p>
    <button>Try manual mode</button>
    <p>Use official or unofficial Docs to know what commands are available</p>

    <div id="response"></div>



</body>