    
<header>
   <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script> 
</header>

<body>
    <h1>login to both environments</h1>
    <h2>Plaground login</h2>
    <p>This app will create api key and car for unofficial volvo api playground using its internal endpoints.</p>
    {% if state == 1 %}

    <p>Login successful!</p>

    {% else %}
    <div>
        <form hx-get="/login/automatic">
            <button>click me</button>
        </form>
    </div>
    {% endif %}

    <h2>Official Volvo Sandbox login</h2>
    <p>Now the harder part you need to manually input your api key and generate a access token.</p>
    <p>DISCLAIMER: You need to create an acoount to generate an access token.</p>
    <p>Be fast because the token is short lived (1 hour). It needs to be refreshed regularly.</p>
    {% if state == 1 %}
    
    <form hx-get="/login/manual">
        <input type="text" name="api_key_p" hidden="True" value="{{ api_key_p }}" />
        <input type="text" placeholder="api key"  name="api_key_v"/>
        <input type="text" placeholder="access token" name="access_token"/>
        <button>login</button>
    </form>
    {% elif state == 2 %}
     <form>
    <input type="text" placeholder="api key" disabled="True" value="{{ api_key_v }}" />
    <input type="text" placeholder="access token" disabled="True" value="{{ access_token }}" />
    <p>Manual login successful!</p>
    
    {% else %}
    <form>
        <input type="text" placeholder="api key" disabled="True" />
        <input type="text" placeholder="access token" disabled="True" />
        <button  disabled="True" >login</button>
    </form>
    {% endif %}
    <br>
    <form action="/compare?api_key_v={{ api_key_v }}&access_token={{ access_token }}&api_key_p={{ api_key_p }}" method="get" >
        <button type="submit" {% if state != 2 %} disabled="True" {% endif %} >Ready!</button>
    </form>
</body>   